@model WebSales.Models.OrderFilterModels
@{
    ViewBag.Title = "Order";
}

<h2>Order </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (@Html.BeginForm())
{     
 <div class="form-inline">
    <label class="control-label">Find by name: </label>
    @Html.TextBox("SearchString")
    <label class="control-label">From: </label>
    @Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
    <label class="control-label">To: </label>
     @Html.EditorFor(model => model.DateFinish, new { htmlAttributes = new { @class = "form-control" } })
  </div>
    <hr />
  <div class="form-inline">
    <label class="control-label">Goods: </label>
    @Html.DropDownList("FilterGoods", (SelectList)ViewBag.FilterGoods, "All")
    <label class="control-label">Client: </label>
    @Html.DropDownList("FilterClient", (SelectList)ViewBag.FilterClient, "All")
    <label class="control-label">Manager: </label>
    @Html.DropDownList("FilterManager", (SelectList)ViewBag.FilterManager, "All")
    <label class="control-label">NameFile: </label>
    @Html.DropDownList("FilterNameFile", (SelectList)ViewBag.FilterNameFile, "All")
    <input type="submit" value="Filter" />
</div>
}
<table class="table">
    <tr>
        <td>Goods</td>
        <td>Client</td>
        <td>Manager</td>
        <td>Cost</td>
        <td>Date</td>
        <td>NameFile</td>
        <td/>
    </tr>
    @foreach (var item in Model.Orders)
    {
     <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Goods.NameGoods)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Client.SecondName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Manager.SecondName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.NameFile.Name)
        </td>
        <td>
          @if (User.IsInRole("admin")) 
          {@Html.ActionLink("Edit", "Edit", new { id = item.Id })} |
          @Html.ActionLink("Details", "Details", new { id = item.Id }) |
          @if (User.IsInRole("admin"))
          {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}
         </td>
    </tr>
}
    <tr>
        <td>Total </td><td/><td/>
        <td>@Model.Orders.Sum(x => x.Cost)</td>
    </tr>
 </table>



